.bottom {
	background-color: #7b48ff; 			
	bottom: 10px;
	display: table;
	height: 10vh;
	left: 50%;
	margin-left: -7.5vw;
	position: absolute;
	width: 15vw;
}

.bottom h1 {
	color: white;
	display: table-cell;
	font-family: 'Arial', sans-serif;
	font-size: 6rem;
	font-weight: 106px;
	vertical-align: middle;
}

.col-sm-6{
	padding: 0 0
;}
.container {
	padding-left: 5px; 
	padding-right: 5px; 
}

.image {
	text-align: center;
}

.image img {
	display: block;
	margin: 1% auto;
	height: 38vh;
	width: 42.5vw;

}

.inputfields {
	bottom: 10px;
	right: 7.5vw;
	position: absolute;
}

.middle {
	height: 80vh;
	/*margin-top: 0.5vh;*/
	padding-left: 0;
	padding-right: 0; 
	width: 85vw;
}

.question {
	display: table;
	vertical-align: middle;
}

.question h1 {
	color: white;
	/*font-family: 'Montserrat', sans-serif;*/
	font-size: 3rem;
	font-weight: 200;
	margin-right: 5%;
	margin-left: 5%;
	/*text-align: justify;*/
}


.top {
	background-color: #7b48ff; 			
	display: table;
	height: 13vh;
	margin-top: 1vh;
	width: 85vw;
}

